.header {
    text-align: center;
    background-color: $wwm-navy;
    color: white;
    padding: 1rem;
    border-bottom: $wwm-gold 5px solid;
    margin-bottom: 0.5rem;
    font-family: "ITC Giovanni", "Times New Roman", Times, serif!important;
    font-family:bolder!important;
}
