 // Colours
$transparent: rgba(0, 0, 0, 0);
$wwm-navy: rgb(151, 154, 154);
$wwm-navy-light: rgba(151, 154, 154, 0.4);
$wwm-navy-medium: rgba(151, 154, 154, 0.8);
$wwm-gold: rgb(39, 163, 29);
$wwm-gold-light: rgba(39, 163, 29, 0.4);
$wwm-gold-medium: rgba(39, 163, 29, 0.8);
$wwm-blue: rgb(107, 136, 178);
$wwm-green: rgb(160, 173, 138);
$wwm-mauve: rgb(125, 100, 120);

 // Spacing

 $s-size: 1.2rem;
 $m-size: 1.6rem;
 $l-size: 3.2rem;
 $xl-size: 4.8rem;
